$primary-color: #235bda;
$uv-primary: $primary-color;

/* #ifdef H5 */
$page-height: calc(100vh - 188rpx);
$sub-page-height: calc(100vh - 88rpx);

// 覆盖 H5 默认样式
uni-view {
  display: flex;
}

/* #endif */

/* #ifndef H5 */
$page-height: 100vh;
$sub-page-height: 100vh;

/* #endif */
